{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Gerenciar contas{% endblock  %}

{% block 'head' %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
  <div class="container">
  
    <br>
    <!--Mensagens-->
    <div class="row messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <br>

    <div class="row">

      <!--Suas Contas-->
      <div class="col-md-6">
        <p class="fonte-destaque">Suas contas</p>

        {% for conta in contas %}
        <br>
          <div class="contas">

            <div class="lista-contas-main">
              <span><img class="icone-banco" src="{{conta.icone.url}}">&nbsp&nbsp&nbsp{{conta.nome}}</span>
              <span class="total-conta {% if conta.valor > 0 %} positivo {% elif conta.valor < 0 %} negativo {% endif %}">R$ {{conta.valor|floatformat:2}}&nbsp&nbsp&nbsp <a href="{% url 'excluir_banco' conta.id %}" onclick="return confirmarExcluir();"><img src="{% static 'img/perfil/delete.png' %}"></a></span>
            </div>
            
          </div> 
        {% endfor %}
        <hr>

        <span class="fonte-destaque">Total:</span>
        <span class="total-conta font-destaque valor-total {% if valor_total > 0 %} positivo {% elif valor_total < 0 %} negativo {% endif %}">R$ {{valor_total|floatformat:2}}</span>
      </div>

      <div class="col-md-1"></div>

      <!--Nova Conta-->
      <div class="col-md-5 card-nova">
        <p class="fonte-destaque">Nova conta</p>
          
        <form action="{% url 'cadastrar_banco' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
          <div class="row">
            <div class="col-md">
              <label>Nome da conta</label>
              <input type="text" name="nome" class="form-control" placeholder="Nome">
            </div>
            <div class="col-md">
              <label>Banco</label>
              <select name="banco" class="form-select">
                <option value="">Escolha um banco</option>
                <option value="NU">NuBank</option>
                <option value="CE">Caixa Econômica</option>
                <option value="MP">Mercado Pago</option>
              </select>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md">
              <label>Valor</label>
              <input type="number" name="valor" class="form-control" placeholder="R$" step="0.01">
            </div>
            <div class="col-md">
              <label>Tipo</label>
              <select name="tipo" class="form-select">
                <option value="pf">Pessoa física</option>
                <option value="pj">Pessoa jurídica</option>
              </select>
            </div>
          </div>
          <br>
          
          <label>Icone&nbsp&nbsp&nbsp</label>
          <input type="file" placeholder="Ícone" name="icone">
          <br>
          <br>
          <input style="width: 100%" type="submit" class="botao-principal" value="Adicionar Conta">
        </form>
      </div>
    </div>
    <hr>

    <div class="row">

      <!--Suas Categorias-->
      <div class="col-md-6">
        <span class="fonte-destaque">Suas categorias</span>
        <br>
        <br>

        <div class="row">

          <div class="col-md-4">
            <div class="itens-categoria positivo">
              <span>Entradas</span>
            </div>
            <hr>
            <div class="contas">
              {% for categoria in categorias %}
              {% if categoria.tipo == 'E' %}
              <div class="lista-contas-main">
                <span>{{categoria}}</span>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="col-md-4">
            <div class="itens-categoria negativo">
              <span>Saídas</span>
            </div>
            <hr>
            <div class="contas">
              {% for categoria in categorias %}
              {% if categoria.tipo == 'S' %}
              <div class="lista-contas-main">
                <span>{{categoria}}</span>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="col-md-4">
            <div class="itens-categoria atencao">
              <span>Mensais</span>
            </div>
            <hr>
            <div class="contas">
              {% for categoria in categorias %}
              {% if categoria.tipo == 'M' %}
              <div class="lista-contas-main">
                <span>{{categoria}}</span>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
          
      </div>


      <div class="col-md-1"></div>

      <!--Nova Categoria-->
      <div class="col-md-5 card-nova">
        <p class="fonte-destaque">Nova categoria</p>

        <form action="{% url 'cadastrar_categoria' %}" method="POST"> {% csrf_token %}
          <div class="row">
            <div class="col-md">
              <label>Categoria</label>
              <input type="text" name="categoria" class="form-control">
              <br>
            </div>
            <div class="col-md">
              <label>Tipo</label>
              <br>
              <div style="margin-left: 25px">
                <input type="radio" name="tipo" value="E"><label class="positivo">&nbspEntrada</label>
                <input type="radio" name="tipo" value="S"><label class="negativo">&nbspSaída</label>
                <input type="radio" name="tipo" value="M"><label class="atencao">&nbspMensal</label>
              </div>
            </div>
            
            <br>
            <br>
            <input style="width: 100%" type="submit" class="botao-principal" value="Adicionar Categoria">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/gerenciar.js' %}"></script>

{% endblock %}