{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Página inicial{% endblock  %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}

{% block 'body' %}
  <div class="container">
    <br>
    <!--Mensagens-->
    <div class="row messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <br>

    <div class="row">
      <div class="col-md-3">
        <a style="text-decoration: none; color: white;" href="{% url 'movimentacao' "E" %}">
          <div class="card">
            <div class="row">
              <div class="col-md">
                <img class="icones" src="{% static 'img/perfil/entradas.png' %}">
              </div>
              <div class="col-md-8">
                <span class="fonte-destaque">Entrada</span>
              </div>
            </div>

          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a style="text-decoration: none; color: white;" href="{% url 'movimentacao' "S" %}">
          <div class="card">
            <div class="row">
              <div class="col-md">
                <img class="icones" src="{% static 'img/perfil/saidas.png' %}">
              </div>
              <div class="col-md-8">
                <span class="fonte-destaque">Saída</span>
              </div>
            </div> 
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a style="text-decoration: none; color: white;" href="{% url 'transferir' %}">
          <div class="card">
            <div class="row">
              <div class="col-md">
                <img class="icones" src="{% static 'img/perfil/transferencia.png' %}">
              </div>
              <div class="col-md-8">
                <span class="fonte-destaque">Tranferência</span>
              </div>
            </div> 
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a style="text-decoration: none; color: white;" href="{% url 'ver_extrato' %}">
          <div class="card">
            <div class="row">
              <div class="col-md">
                <img class="icones" src="{% static 'img/perfil/extrato.png' %}">
              </div>
              <div class="col-md-8">
                <span class="fonte-destaque">Extrato</span>
              </div>
            </div> 
          </div>
        </a>
      </div>
    </div>
    <br>
    
    <div class="row">

      <div class="col-md-4">

        <!-- Suas contas -->
        <div class="card">
          <span class="fonte-destaque destaque">Suas contas</span>
          <br>
          <div class="div-contas">
            {% for conta in contas %}
            <div class="lista-conta">
              <span>{{conta.nome}}</span>
              <span class="total-conta {% if conta.valor > 0 %} positivo {% elif conta.valor < 0 %} negativo {% endif %}">R$ {{conta.valor|floatformat:2}}</span>
            </div>
            <br>
            {% endfor %}
          </div>

          <div>
            <span class="fonte-destaque">Saldo total</span>
            <span class="font-light valor-total {% if valor_total_contas > 0 %} positivo {% elif valor_total_contas < 0 %} negativo {% endif %}">R$ {{valor_total_contas|floatformat:2}}</span>
          </div>
          <hr class="hr-borda">

          <a href="{% url 'gerenciar' %}" class="botao-principal">Gerenciar</a>
        </div>
        <br>

        <!-- Contas mensais -->
        <div class="card">
          <span class="fonte-destaque destaque">Contas mensais</span>
          <hr class="hr-borda">
          
          <span class="fonte-destaque negativo">Vencidas</span>
          <span class="fonte-light">Contas vencidas = {{vencidas}}</span>
          <br>

          <span class="fonte-destaque atencao">Á vencer</span>
          <span class="fonte-light">Vence hoje = {{vence_hoje}}</span>
          <span class="fonte-light">Próximas do vencimento = {{proximas_vencimento}}</span>
          <span class="fonte-light">Vence esse mês = {{outras}}</span>
          <hr class="hr-borda">

          <a href="{% url 'contas_mensais' %}" class="botao-principal">Gerenciar</a>
        </div>

      </div>

      <div class="col-md-8">

        <!-- Receita/Despesa -->
        <div class="card">
          <div class="row">

            <div class="col-md">
              <div class="receita">
                <span class="fonte-destaque positivo">Receita mensal</span>
                <br>
                <span class="font-light">R$ {{total_entradas|floatformat:2}}</span>
              </div>
            </div>

            <div class="col-md-5 equilibrio" style="text-align: center">
              <div class="">
                <span class="fonte-destaque">Equilíbrio financeiro</span>
                <br>
                <div class="row">
                  <div class="col-md-5">
                    {% if total_entradas > total_despesas %}
                      <img class="icones" style="float: right" src="{% static 'img/perfil/equilibrio_receita.png' %}">
                    {% endif %}
                  </div>

                  <div class="col-md-2">
                    {% if total_entradas > total_despesas %}
                      <img width="20px" src="{% static 'img/perfil/receita.png' %}">
                    {% else %}
                      <img width="20px" src="{% static 'img/perfil/despesa.png' %}">
                    {% endif %}
                  </div>

                  <div class="col-md-5">
                    {% if total_entradas < total_despesas %}
                    <img class="icones" style="float: left" src="{% static 'img/perfil/equilibrio_despesa.png' %}">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md">
              <div class="despesa">
                <span class="fonte-destaque negativo">Despesa mensal</span>
                <br>
                <span class="font-light">R$ {{total_despesas|floatformat:2}}</span>
              </div>
            </div>

          </div>
        </div>
        <br>

        <!-- Planejamento -->
        <div class="card">
          <div>
            <span class="fonte-destaque destaque">Planejamento</span>
          </div>
          <br>

          <h5 class="normal">Contas Mensais</h5>
          {% for categoria in categorias %}
            {% if categoria.valor_planejamento != 0 %}
              {% if categoria.tipo == 'M' %}
                <div class="row">
                  <div class="col-md">
                    <span style="float: left">{{categoria}}</span>
                  </div>
                  
                  <div class="col-md">
                    <span style="float: right !important;">
                      <span>R$ {{categoria.valor_gasto_mensal|floatformat:2}}</span>
                      <span> | </span>
                      <span class="{% if categoria.valor_planejamento > categoria.valor_gasto_mensal %} positivo {% else %} negativo {% endif %}">R$ {{categoria.valor_planejamento|floatformat:2}}</span>
                    </span>
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar progress-bar-striped {% if categoria.valor_planejamento > categoria.valor_gasto_saida %} bg-success {% else %}  bg-danger {% endif %}" role="progressbar" style="width: {{categoria.percentual_gasto_mensal}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
              {% endif %}
            {% endif %}
          {% endfor %}
          <hr>

          <h5 class="normal">Movimentações</h5>
          {% for categoria in categorias %}
            {% if categoria.tipo == 'S' %}
              {% if categoria.valor_planejamento != 0 %}
                  <div class="row">
                    <div class="col-md">
                      <span style="float: left">{{categoria}}</span>
                    </div>
                    
                    <div class="col-md">
                      <span style="float: right !important;">
                        <span>R$ {{categoria.valor_gasto_saida|floatformat:2}}</span>
                        <span> | </span>
                        <span class="{% if categoria.valor_planejamento > categoria.valor_gasto_saida %} positivo {% else %} negativo {% endif %}">R$ {{categoria.valor_planejamento|floatformat:2}}</span>
                      </span>
                    </div>
                  </div>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped {% if categoria.valor_planejamento > categoria.valor_gasto_saida %} bg-success {% else %}  bg-danger {% endif %}" role="progressbar" style="width: {{categoria.percentual_gasto_saida}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
              {% endif %}
            {% endif %}
          {% endfor %}

          <hr class="hr-borda">

          <div class="row">
            <div class="col-md">
              <h3 style="float: left">Total</h3>
            </div>

            <div class="col-md">
              <span style="float: right !important;">
                <span>R$ {{planejamento_total|floatformat:2}}</span>
                <span> | </span>
                <span class="{% if valor_total_planejamento > planejamento_total %} positivo {% elif valor_total_planejamento < planejamento_total %} negativo {% endif %}">R$ {{valor_total_planejamento|floatformat:2}}</span>
              </span>
            </div>
          </div>

          <div class="progress" style="height: 30px;">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{percentual_planejamento_total}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <hr class="hr-borda">
          
          <a href="{% url 'definir_planejamento' %}" class="botao-principal">Definir planejamento</a>
        </div>
        
      </div>
    </div>
    <br>
  </div>

{% endblock %}