{% load static %}

<div class="card">

  <label style="font-size: 40px;">Extrato do mês</label>  
  <label style="float: right">({{data}})</label>
  <br>
  <br>

  <table>
    <tr>
      <th style="width: 25%; border-bottom: 1px solid black; text-align: center">Conta</th>
      <th style="width: 25%; border-bottom: 1px solid black; text-align: center">Categoria</th>
      <th style="width: 10%; border-bottom: 1px solid black; text-align: center">Data</th>
      <th style="width: 15%; border-bottom: 1px solid black; text-align: center">Tipo</th>
      <th style="width: 15%; border-bottom: 1px solid black; text-align: center">Valor</th>
    </tr>
    {% for saida in saidas %}
      <tr class="linha">
        <td>{{saida.conta}}</td>
        <td style="text-align: center">{{saida.categoria}}</td>
        <td style="text-align: center">{{saida.data|date:"d/m/Y"}}</td>
        <td style="text-align: center">
          {% if saida.tipo == 'S'%}
            <span>Saída</span>
          {% else %}
            <span>Entrada</span>
          {% endif %}
        </td>
        <td ><span  style="text-align: left">&nbspR$</span><span style="float: right">{{saida.valor|floatformat:2}}</span></td>
      </tr>
    {% endfor %}
  </table>
    
</div>