{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
  <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

  <div class="container">
    <br>
    <!--Mensagens-->
    <div class="row messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <br>
    
    <span class="fonte-destaque">Adicionar entradas/saídas</span>
    <div class="row">

      <div class="col-md-7">
        <form action="{% url 'movimentacao' %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-md">
              <label>Valor</label>
              <input name="valor" type="text" class="form-control" placeholder="R$">
            </div>

            <div class="col-md">
              <label>Categoria</label>
                <select name="categoria" class="form-select">
                  <option value="">Selecione uma categoria</option>
                  {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria}}</option> 
                  {% endfor %}
                </select>
                <a href="{% url 'gerenciar' %}">Criar categoria</a>
            </div>
          </div>
          <label>Descrição</label>
          <textarea name="descricao" class="form-control"></textarea>
          <br>
          <div class="row">
            <div class="col-md">
              <label>Data</label>  
              <input id="data" name="data" type="date" class="form-control">
            </div>

            <div class="col-md">
              <label>Conta</label>
              <select name="id_conta" class="form-select">
                <option value="">Selecione uma conta</option>
                {% for conta in contas %}
                  <option value="{{conta.id}}">{{conta.nome}}</option>
                {% endfor %}
              </select>
              <a href="{% url 'gerenciar' %}">Criar conta</a>
            </div>
          </div>
          <input type="radio" name="tipo" value="E"> <label class="positivo">Entrada&nbsp&nbsp</label>
          <input type="radio" name="tipo" value="S"> <label class="negativo">Saída</label>
          <br>
          <br>
          <input type="submit" style="width:40%;" class="botao-principal">

        </form>
      </div>

      <div class="col-md-8"></div>

    </div>

  </div>

  <script>
        // Obtém a data atual
        const hoje = new Date();

        // Formata a data para o formato esperado pelo campo date (YYYY-MM-DD)
        const dia = String(hoje.getDate()).padStart(2, '0');
        const mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Mês começa em 0
        const ano = hoje.getFullYear();

        // Define o valor padrão do campo date para a data atual
        const dataAtual = `${ano}-${mes}-${dia}`;
        document.getElementById('data').value = dataAtual;
    </script>

{% endblock %}