{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Movimentação{% endblock  %}

{% block 'head' %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

  <div class="container">
    <br>
    <!--Mensagens-->
    <div class="row messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>
    <br>
    
    <span class="fonte-destaque">{% if tipo_movimentacao == 'E' %}Adicionar Entrada{%else%}Adicionar Saída{% endif %}</span>
    <br>
    <br>

    <div class="row">
      
      <div class="col-md-7">
        <form class="card" action="{% url 'movimentacao' tipo_movimentacao %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <label>Título</label>
              <input name="titulo" type="text" class="form-control"></input>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md">
              <label>Valor</label>
              <input name="valor" type="number" step="0.01" class="form-control" placeholder="R$">
            </div>

            <div class="col-md">
              <label>Categoria</label>
                <select name="categoria" class="form-select">
                  <option value="">Selecione uma categoria</option>
                  {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria}}</option>
                  {% endfor %}
                </select>
                <a style="float: right" href="{% url 'gerenciar' %}">Criar categoria</a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <label>Data</label>  
              <input id="data" name="data" type="date" class="form-control">
            </div>

            <div class="col-md">
              <label>Conta</label>
              <select name="id_conta" class="form-select">
                <option value="">Selecione uma conta</option>
                {% for conta in contas %}
                  <option value="{{conta.id}}">{{conta.nome}}</option>
                {% endfor %}
              </select>
              <a style="float: right" href="{% url 'gerenciar' %}">Criar conta</a>
            </div>
          </div>
          <br>
          <br>

          <div class="row">
              <div class="col-md">
                <input type="submit" class="botao-principal" value="Adicionar">
              </div> 
              
              <div class="col-md">
                <a class="botao-secundario" href="{% url 'home' %}">Cancelar</a>
              </div>
            </div>

        </form>
      </div>

    </div>

  </div>

  <script src="{% static 'js/movimentacao.js' %}"></script>

{% endblock %}