{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Extrato{% endblock  %}

{% block 'head' %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <link href="{% static 'css/extrato.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
  <br>
  <br>
  <div class='container'>
    <span class="fonte-destaque">Extrato</span>
    <br>
    <br>

    <form action="{% url 'ver_extrato' %}" method="GET">
      <div class="row">

        <div class="col-md">
          <label>Conta</label>
          <select name="id_conta" class="form-select">
            <option value="">Selecione uma conta</option>
            {% for conta in contas %}
              <option value="{{conta.id}}">{{conta}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md">
          <label>Categoria</label>
          <select name="id_categoria" class="form-select">
            <option value="">Selecione uma categoria</option>
            {% for categoria in categorias %}
              <option value="{{categoria.id}}">{{categoria}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md">
          <label>Período</label>
          <select name="periodo" class="form-select">
            <option value="">Selecione um período</option>
            <option value="7">Últimos 7 dias</option>
          </select>
        </div>  
      </div>
      <br>

      <div class="row">

        <div class="col-md-2">
          <input style="width: 100%" type="submit" class="botao-principal" value="Filtrar">
        </div>

        <div class="col-md-2">
          <a href="{% url 'ver_extrato' %}" style="width: 100%" type="button" class="botao-principal">Todos</a>
        </div>

        <div class="col-md-2">
          <a href="{% url 'exportar_pdf' %}" class="botao-secundario">Exportar extrato</a>
        </div>

        <div class="col-md-3">
        </div>

        <div class="col-md-3">
          <a href="{% url 'extrato_transferencias' %}" class="botao-secundario">Extrato de Transferências</a>
        </div>

      </div>
    </form>
    <br>
    <br>

    <div class="card">
        
      <table>
        <tr>
          <th>Conta</th>
          <th>Categoria</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Valor</th>
        </tr>
        
        {% for saida in saidas %}
          <tr class="linha">
            <td>{{saida.conta}}</td>
            <td>{{saida.categoria}}</td>
            <td>{{saida.data|date:"d/m/Y"}}</td>
            <td>
              {% if saida.tipo == 'E'%}
                <img width="25px" src="{% static 'img/perfil/entradas.png' %}">
              {% else %}
                <img width="25px" src="{% static 'img/perfil/saidas.png' %}">
              {% endif %}
            </td>
            <td class="{% if saida.tipo == 'S' %} negativo {% else %} positivo {% endif %}">R$ {{saida.valor|floatformat:2}}</td>
              
          </tr>
        {% endfor %}
      </table>
        
    </div>
  </div>
{% endblock %}