{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Planejamento{% endblock  %}

{% block 'head' %}
  <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
  <link href="{% static 'extrato/css/extrato.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

  <div class="container">
    <br>
    <br>
    
    <p class="fonte-destaque">Definir planejamento</p>
    <div class="card">
    
      <table>
        <tr>
          <th><h3>Categoria</h3></th>
          <th><h3>Valor</h3></th>
          <th><h3>Ação</h3></th>
        </tr>

        {% for categoria in categorias %}
          {% if categoria.tipo == 'S' %}
            <tr class="linha">
              <td>{{categoria}}</td>
              <td><input type="text" id="valor-categoria-{{categoria.id}}" class="form-control" value="{{categoria.valor_planejamento|floatformat:2}}"></td>
              <td><button onclick="modificar_valor_planejamento({{categoria.id}})" style="width: 100%;" class="botao-secundario">Alterar</button></td>         
            </tr>
          {% endif %}
        {% endfor %}
      </table>

    </div>
  </div>

  <script>
    function modificar_valor_planejamento(id) { // Recebe o id da categoria
      valor = document.getElementById('valor-categoria-'+id).value  // Captura o valor do elemento pelo seu id
      
      fetch('/planejamento/modificar_valor_planejamento/'+id,{ // O fetch faz uma requisição para a url.
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({novo_valor: valor})
      }).then(function(result){
        if (result) {
          window.location.href = "/perfil/home";
        }
      })
    }
  </script>

{% endblock %}