{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
  <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
  <link href="{% static 'contas/css/extrato.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

  <div class="container">
    <br>
    <!--Mensagens-->
    <div class="row messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {{message.tags}}" role="alert">{{message}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <br>
    
    <p class="fonte-destaque">Definir planejamento</p>
    <div class="card">
    
      <table>
        <tr>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Ação</th>
        </tr>

        {% for categoria in categorias %}
          {% for saida in categoria.saidas %}
            {% if saida.tipo == 'S' %}
              <tr class="linha">
                <td>{{categoria}}</td>
                <td><input type="number" id="valor-categoria-{{categoria.id}}" class="form-control" value="{{categoria.valor_planejamento}}"></td>
                <td><button onclick="modificar_valor_planejamento({{categoria.id}})" style="width: 100%;" class="botao-secundario">Alterar</button></td>         
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>

    </div>
  </div>

  <script>
    function modificar_valor_planejamento(id) { // Recebe o id da categoria
      valor = document.getElementById('valor-categoria-'+id).value  // Captura o valor do elemento pelo seu id
      
      fetch('/planejamento/modificar_valor_planejamento/'+id,{ // O fetch faz uma requisição para a url.
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({novo_valor: valor})
      }).then(function(result){
        if (result) {
          window.location.href = "";
        }
      })
    }
  </script>

{% endblock %}