{% extends 'bases/base.html' %}
{% load static %}

{% block 'titulo' %}Planejamento{% endblock  %}

{% block 'head' %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
  <link href="{% static 'css/extrato.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

  <div class="container">
    <br>
    <br>
    
    <p class="fonte-destaque">Definir planejamento</p>
    <div class="card">
    
      <table>
        <tr>
          <th><h3>Categoria</h3></th>
          <th><h3>Valor</h3></th>
          <th><h3>Ação</h3></th>
        </tr>

        {% for categoria in categorias %}
          {% if categoria.tipo == 'S' %}
            <tr class="linha">
              <td>{{categoria}}</td>
              <td><input type="text" id="valor-categoria-{{categoria.id}}" class="form-control" value="{{categoria.valor_planejamento|floatformat:2}}"></td>
              <td><button onclick="modificar_valor_planejamento({{categoria.id}})" style="width: 100%;" class="botao-secundario">Alterar</button></td>         
            </tr>
          {% endif %}
        {% endfor %}
      </table>

    </div>
  </div>

  <script src="{% static 'js/definir_planejamento.js' %}"></script>

{% endblock %}