body {
  background-color: #1C1A1A !important;
  color: white !important;
}

:root {

  --main-color: #2B2B2B;
  --dark-color: #1C1A1A;
  --contrast-color: #69D2CD;
  --negative-color: #f93a53;
  --positive-color: #00df79;
  --warning-color: #FFD700;
}

.menu-itens {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.messages {
  height: 45px;
}

.menu {
  position: fixed;  /* Fixa a navbar na tela */
  top: 0;           /* Posiciona no topo da página */
  width: 100%;      /* Ocupa a largura total da tela */
  z-index: 1000;    /* Garante que a navbar fique sobre outros elementos */
}
