table{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.linha{
    height: 40px;
    background-color: var(--dark-color);
    padding: 20px;
    border-bottom: 5px solid var(--main-color);
}

td, th{
    padding: 10px;
}

tr{
    background-color: var(--main-color);
}

