.card {
  width: 100%;
  background-color: var(--main-color);
  border-radius: 15px;
  padding: 20px;
}

.card-nova {
  background-color: var(--main-color);
  border-radius: 15px;
  padding: 10px;
  height:fit-content;
}

.fonte-destaque {
  font-weight: bold;
  font-size: 25px;
}

.font-light {
  font-weight: bold;
  font-size: large;
}

.hr-borda {
  color: var(--dark-color);
}

.lista-conta {
  background-color: var(--dark-color);
  padding: 8px;
  border-radius: 10px;

}

.total-conta {
  float: right;
}

.total-categoria {
  color: white;
  float: right;
}

.itens-categoria {
  font-weight: bold;
  font-size: large;
}

.img {
  margin-right: 20px;
}

.valor-total {
  font-weight: bold;
  font-size:xx-large;
  float: right;
}

.botao-principal {
  background-color: var(--contrast-color);
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  display: block;
  border: none;
  
}

.botao-secundario {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  width: 100%;
  display: block;
  border: 2px solid var(--contrast-color);
}

.destaque {
  border-left: 4px solid var(--contrast-color);
  padding-left: 10px;
}

.receita {
  border-left: 4px solid var(--positive-color);
  padding-left: 10px;
}

.despesa {
  border-right: 4px solid var(--negative-color);
  text-align: right;
  padding-right: 10px;
}

.equilibrio {
  border-left: 4px solid var(--positive-color);
  border-right: 4px solid var(--negative-color);
}

.normal {
  color: var(--contrast-color);
}

.positivo {
  color: var(--positive-color);
}

.negativo {
  color: var(--negative-color);
}

.atencao {
  color: var(--warning-color);
}

.icones {
  width: 50%;
  display: inline;
}

.icone-banco {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #69D2CD;
}

.linha-conta {
  background-color: var(--dark-color);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
}

.text-center {
  align-content: center;
  font-weight: bold;
  font-size: large;
}

.container {
  margin-top: 45px;
}
